<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pneumonia detector</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#000033">

<div class="container">
  <h1 class="jumbotron bg-primary" style=" text-align: center; color:#000033">Chest X-ray Classfication for the detection of Pneumonia</h1>
  <br><br>
  <form class="form-horizontal" action="/" method="post" enctype="multipart/form-data">

    <div class="form-group">
      <label class="control-label col-sm-2 col-sm-offset-3" for="pwd" style="color:#f2f2f2"> Upload the X-ray:</label>
      <div class="col-sm-3">
        <input type="file" class="form-control" name="imagefile" id="pwd">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-5 ">
        <button type="submit" class="btn btn-primary">GET RESULT</button>
      </div>
    </div>
  </form>
</div>


</body>
</html>





